<header>
    <nav>
        <div class="nav-left">
            <a href="/<%= lang %>/">Mver</a>
            <a href="/<%= lang %>/mver">Download</a>
            <a href="/<%= lang %>/mver">Use in browser</a>
            <a href="/<%= lang %>/news">News</a>
            <a href="https://github.com/akirekt/Mver.git" target="_blank">OpenSource</a>
        </div>
        <div class="nav-right">

            <div class="lang-dropdown">
                <button class="lang-btn"><i class="fa-solid fa-globe"></i> <%= lang.toUpperCase() %> <i class="fa-solid fa-angle-up" class="arro"></i></button>
                <div class="lang-menu">
                    <p href="/en/">English</p>
                    <a href="/pl/">Polish (Polski)</a>
                    <a href="/de/">German (Deutsch)</a>
                    <a href="/es/">Spanish (Español)</a>
                </div>
            </div>
            <a href="buy-us-coffee">Buy us a coffee <i class="fa-solid fa-mug-saucer"></i></a>
            <a href="/index.html">Authors</a>
        </div>
    </nav>
</header>